[Unit]
Description=Onedrive-rclone
AssertPathIsDirectory=%h/Documents
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount --vfs-cache-mode=full onedrive: %h/Documents/onedrive
ExecStop=/usr/bin/fusermount3 -zu %h/Documents/onedrive

Restart=on-failure
RestartSec=15

[Install]
WantedBy=default.target
